<h1 mat-dialog-title>{{inputdata.title}}</h1>
    <div mat-dialog-content>
        <div *ngIf="doneLoadOfficeList | async">
            <h2>Employee Name : <b>{{ nama }}</b></h2>
            <h2>Employee Email : <b>{{ email }}</b></h2>
            <h2>Employee Salary : <b>{{ salary }}</b></h2>
            <h2>Employee Status : <b>{{ status}}</b></h2>
        </div>
    </div>
    <div mat-dialog-actions>
      <button (click)="closepopup()" mat-raised-button color="warn">Close</button>
    </div>
