<form [formGroup]="myform" (ngSubmit)="Saveuser()">
    <h1 mat-dialog-title>{{ inputdata.title }}</h1>
    <div mat-dialog-content>
            <mat-form-field>
            <mat-label>Username</mat-label>
                <input formControlName="Username" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Firstname</mat-label>
                <input formControlName="Firstname" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="Email">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Salary</mat-label>
                <input matInput formControlName="basicSalary">
            </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button type="submit" color="primary">Save</button>
        <a (click)="closepopup()" mat-raised-button color="warn">Close</a>
    </div>
</form>