<div class="container" *ngIf="loginPage">
  <app-login (loginEvent)="login($event)"></app-login>
</div>
<div *ngIf="!loginPage">
  <app-view-employee (logoutEvent)="logout($event)"></app-view-employee>
</div>