<div class="container">
    <div class="wrapper">
      <mat-card>
          <mat-card-header>
              <div class="header">
                  <div>
                      <mat-form-field>
                          <input matInput (keyup)="Filterchange($event)" placeholder="Search Data" />
                      </mat-form-field>
                  </div>
                  <div>
                      <button mat-raised-button color="primary" (click)="addEmployee()" >Add User (+)</button>
                  </div>
              </div>
          </mat-card-header>
          <mat-card-content>
              <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                  <ng-container matColumnDef="Username">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> Username</th>
                    <td mat-cell *matCellDef="let element">{{element.Username}}</td>
                  </ng-container>
              
                  <ng-container matColumnDef="Firstname">
                      <th mat-sort-header mat-header-cell *matHeaderCellDef> Firstname</th>
                      <td mat-cell *matCellDef="let element">{{element.Firstname}}</td>
                    </ng-container>
              
                    <ng-container matColumnDef="Lastname">
                      <th mat-sort-header mat-header-cell *matHeaderCellDef> Lastname</th>
                      <td mat-cell *matCellDef="let element">{{element.Lastname}}</td>
                    </ng-container>
              
                    <ng-container matColumnDef="Email">
                      <th mat-sort-header mat-header-cell *matHeaderCellDef> Email</th>
                      <td mat-cell *matCellDef="let element">{{element.Email}}</td>
                    </ng-container>
              
                    <ng-container matColumnDef="Birth Date">
                      <th mat-sort-header mat-header-cell *matHeaderCellDef> Birth Date</th>
                      <td mat-cell *matCellDef="let element">{{element.birthDate}}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="basicSalary">
                      <th mat-sort-header mat-header-cell *matHeaderCellDef> Salary</th>
                      <td mat-cell *matCellDef="let element">{{element.basicSalary}}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="Status">
                      <th mat-sort-header mat-header-cell *matHeaderCellDef> Status</th>
                      <td mat-cell *matCellDef="let element">{{element.Status}}</td>
                    </ng-container>
      
                    <ng-container matColumnDef="Group">
                      <th mat-sort-header mat-header-cell *matHeaderCellDef> Group</th>
                      <td mat-cell *matCellDef="let element">{{element.Group}}</td>
                    </ng-container>
              
                    <ng-container matColumnDef="Description">
                      <th mat-header-cell *matHeaderCellDef> Action</th>
                      <td mat-cell *matCellDef="let element">
              
                          <button mat-raised-button (click)="editEmployee(element.Username)" color="primary">Edit</button>
                          <button mat-raised-button (click)="detailEmployee(element.Username)" color="accent">Detail</button>
                      </td>
                    </ng-container>
              
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>
              
              </table>
          </mat-card-content>
          <br>
          <mat-card-footer>
              <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
          </mat-card-footer>
      </mat-card>
      <div class="logout">
        <button mat-raised-button (click)="logout()" color="warn">
          Logout
        </button>
      </div>
    </div>
</div>
