.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Jost', sans-serif;
}

.wrapper {
    display: flex;
    padding: 100px 50px;
    gap: 50px;
    flex-direction: column;
}

button {
    margin: 2px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 800px;
    align-items: baseline;
}

.logout {
    width: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}