<div class="container">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                <form >
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" name="txt" placeholder="User name" required="" [(ngModel)]="signupObj.userName">
                    <input type="email" name="email" placeholder="Email" required="" [(ngModel)]="signupObj.email">
                    <input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="signupObj.password">
                    <button (click)="onSignUp()">Sign up</button>
                </form>
            </div>
    
            <div class="login">
                <form>
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="email" name="email" placeholder="Username" required="" [(ngModel)]="loginObj.userName">
                    <input type="password" name="pswd" placeholder="Password" required="" [(ngModel)]="loginObj.password">
                    <button (click)="onLogin()">Login</button>
                </form>
            </div>
    </div>
</div>
